* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sidebar-color: #363640;
    --card-color: #ffffff;
    --sidebar-text-color: #a4a6b3;
    --text-color: #242733;
    --button-color: #242733;
    --card-side-color: #dee0eb;
    --background-color: #f7f8fc;
    --logo-color: #53a8b6;
}

html {
    background-color: var(--background-color);
}

.svg-image {
    width: 25px;
}

#dashboard img {
    width: 50px;
}


.container {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: .6fr 2.5fr .8fr;
    grid-template-rows: 75px 50px 1fr;
    grid-template-areas: 
        "sidebar header-left header-right"
        "sidebar project-title announcement-title"
        "sidebar cards announcements";
    width: 100vw;
    height: 100vh;
}

.sidebar-container {
    grid-area: sidebar;
    background-color: var(--sidebar-color);
    color: var(--sidebar-text-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 150px) repeat(9, 50px);
    justify-items: start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar-container > div {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}

.sidebar-container > div > h4 {
    font-size: 20px;
    font-weight: 500;
}


.header-container-left {
    padding: 15px;
    grid-area: header-left;
    color: var(--text-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
}


.header-container-right {
    padding: 15px;
    grid-area: header-right;
    color: var(--text-color);
    display: flex;
    align-items: center;
}


.project-title-container {
    grid-area: project-title;
    color: var(--text-color);
    margin-left: 15px;
    margin-right: 15px;
    align-self: end;
}

.announcement-title-container {
    grid-area: announcement-title;
    color: var(--text-color);
    margin-left: 15px;
    margin-right: 15px;
    align-self: end;
}

.card-container {
    grid-area: cards;
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin: 15px;
}

.card-container > .card {
    background: var(--card-color);
    border: 2px solid var(--card-side-color);
    border-radius: 8px;
    padding: 25px;
    font-size: 18px;
}

.card-container > .card:hover {
    color: var(--logo-color);
    border-color: var(--logo-color);
}

.announcement-container {
    grid-area: announcements;
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 75px 1fr;
    margin: 15px;
}

.announcement-top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, fr);
    background-color: var(--card-color);
    border-radius: 8px;
    padding: 25px;
    row-gap: 20px;
    border: 2px solid var(--card-side-color);
}

.announcement-card {
    padding-bottom: 20px;
    font-size: 14px;
}

.announcement-container > div:nth-child(1) > div:nth-child(1) {
    border-bottom: 2px solid var(--card-side-color);
}

.announcement-container > div:nth-child(1) > div:nth-child(2) {
    border-bottom: 2px solid var(--card-side-color);
}

.trending-title {
    color: var(--text-color);
    align-self: end;
}

.trending-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, fr);
    background-color: var(--card-color);
    border-radius: 8px;
    padding: 25px;
    margin-top: 15px;
    border: 2px solid var(--card-side-color);
}